if SHIELD_D63-TW_LEFT

config ZMK_KEYBOARD_NAME
	default "D63-TW"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif

if SHIELD_D63-TW_LEFT || SHIELD_D63-TW_RIGHT

config ZMK_SPLIT
	default y

config ZMK_POINTING
	default y

endif

if SHIELD_D63-TW_RIGHT

config SPI
	default y

config PMW3610
	default y

endif
